.layout {
    position: absolute;
    width: 1297px;
    height: 637px;
    background-color: #FFF;
    border: 3px solid #000;
}

.layout img {
    position: absolute;
    width: 1297px;
    height: 637px;
}

.playerMario {
    position: absolute;
    width: 150px;
    height: 150px;
    margin-top: 450px;
    margin-left: 200px;
}

.playerMario img {
    position: absolute;
    width: 105px;
    height: 105px;

    background: url(mario.png);
}

.buttons {
    width: 1297px;
    height: 87px;
    position: absolute;
    margin-top: 560px;
}

.jump {
    position: absolute;
    width: 80px;
    height: 42px;
    margin-left: 100px;
    margin-block-start: 20px;

    background: #D9D9D9;
    mix-blend-mode: normal;
}

.right {
    position: absolute;
    width: 80px;
    height: 42px;
    margin-left: 200px;
    margin-block-start: 20px;

    background: #D9D9D9;
    mix-blend-mode: normal;
}

.left {
    position: absolute;
    width: 80px;
    height: 42px;
    margin-left: 300px;
    margin-block-start: 20px;

    background: #D9D9D9;
    mix-blend-mode: normal;
}