@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,800&family=PT+Sans:ital,wght@0,400;1,700&family=Poppins:ital@1&family=Roboto:wght@100;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #FFF;
    display: none;
    overflow: hidden;
}

/* .layout img {
    position: absolute;
    width: 100%;
    height: 100vh;
} */

.fundoMario{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

.playerMario {
    position: absolute;
    width: 150x;
    height: 150px;
    z-index: 1;
}

.playerMario img {
    position: absolute;
    width: 105px;
    height: 105px;

    background: url(mario.gif);
}

.buttons {
    width: 600px;
    height: 87px;
    position: absolute;
    margin-top: 575px;
}

.jump {
    position: absolute;
    width: 90px;
    height: 42px;
    margin-left: 100px;
    margin-block-start: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

    background: #D9D9D9;
    mix-blend-mode: normal;
}

.right {
    position: absolute;
    width: 90px;
    height: 42px;
    margin-left: 200px;
    margin-block-start: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

    background: #D9D9D9;
    mix-blend-mode: normal;
}

.left {
    position: absolute;
    width: 90px;
    height: 42px;
    margin-left: 300px;
    margin-block-start: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

    background: #D9D9D9;
    mix-blend-mode: normal;
}

.screenMario {
    position: relative;
    width: 700px;
    height: 370px;
    background-color: #928f8f;
    align-items: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.screenFim{
    position: relative;
    width: 700px;
    height: 370px;
    background-color: #928f8f;
    align-items: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.containerFim{
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}


.btnPerso {
    width: 300px;
    height: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.containerMario {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BtnMario {
    width: 105px;
    height: 40px;
    border-radius: 8px;
    background-color: #fc0000;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
}

.BtnLuigi {
    width: 105px;
    height: 40px;
    border-radius: 8px;
    background-color: #11d811;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
}

.teste {
    font-family: 'Merriweather Sans', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    color: #FFF
}

.text {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    text-align: center;
    margin-top: 60px;
}

.textFim{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    text-align: center;
    margin-top: 80px;
}

.textScreen {
    color: #000;
}

.textM {
    color: #fc0000;
}

.textA {
    color: #11d811;
}

.textR {
    color: #fdfd00;
}

.textI {
    color: #2b84eb;
}

.textO {
    color: #11d811;
}

.canoMario{
    width:  200px;
    height: 180px;
    position: absolute;
    margin-left: 1146px;
    bottom: 32px;
    z-index: 2;
}

.cano{
    width: 175px;
    height: 160px;
    object-fit: cover;
}

.marioD{
    width: 95px;
}

.marioDance{
    position: absolute;
    width: 95px;
    height: 95px;
    margin-right: 440px;
}

.luigiD{
    width: 108px;
}

.luigiDance{
    position: absolute;
    width: 95px;
    height: 95px;
    margin-left: 430px;
}

.luigiDanceFim{
    position: absolute;
    width: 95px;
    height: 95px;
    margin-left: 500px;
}

.marioDanceFim{
    position: absolute;
    width: 95px;
    height: 95px;
    margin-right: 510px;
}




